{% extends "base.html" %}


{% block main %}
<h1>New Performance Agreement (Create PADocument)</h1>
  <p>PAItem class in application defined in <b>pa_items.PAItem</b>. The class method <b>PAItem.loadFromWorkbook()</b> reads difiniton from Excel workbook and returns a dictionary of PAItem object.
  	<b>pa_items.PAForm</b> class takes the items dictionary and add helper functionalities for application layer.
  </p>

<h2>Design Note</h2>
  <p>Design - Conceptual: ER entity PAItem represent elements of the Performance Agreement form. We follow recursive relationship design for this entity, where the entity has parent/child relationship with another PAItem entity. Altogether this recursive relationship forms a tree that could map inputs and descriptions appear in the paper form.</p>
  <p>Implement - Physical: PAItem records are manually extracted from the paper form and encoded with the parent-child relationship. Attributes "level" and "display_rank" were planned for use as help/hint for guiding the tree structure. </p>
  <p>Inspect/change <b>{{workbook1}}</b> to make changes to <b>PAItem</b> of this prototype system listed here.</p>
  <hr>
  
  
  <div class="row">
  	<form method="post" action="{% url "new-document" %}">{% csrf_token %}
  
  	<div class="col-md-6">
		 <h3>Choose Fiscal Year</h3>
		
		 	<select name="fiscal-year">
		 		<option value="61">FY61: 1 January - 31 December 2018</option>
		 		<option value="62">FY62: 1 January - 31 December 2019</option>
		 	</select>
		 
		 <h3>Choose Academic Staff</h3>
		
			<select name="academic-staff">
			{% for k, staff in academic_staffs.iteritems %}
				<option value="{{staff.id}}">{{staff.first_name}} {{staff.last_name}} [{{staff.program_id}}]</option>
			{% endfor %}
			</select> 
		 
		 
		 <h3>Choose Support Staff</h3>
		
			<select name="support-staff">
			{% for k, staff in support_staffs.iteritems %}
				<option value="{{staff.id}}">{{staff.first_name}} {{staff.last_name}} [{{staff.position}}]</option>
			{% endfor %}
			</select> 
  	</div>
  	<div class="col-md-6">
  		<h2>Next step</h2>
  		
  		<ul>
  			<li>You will enter performance items (PAItem) that will be tracked during the chosen fiscal year.</li>
  			<li>List of performance items is shown below, with respective score point for the particular item.</li>
  			<li>Please choose the items you plan to include in the performance agreement (PADocument) and prepare relevant supporting detail for the items.</li>
  		</ul>
  		<button type="submit" class="btn btn-primary btn-block">Confirm</button>
  	</div>
  	</form>
  </div>
  
  
  
 <h3>All PA Items in Database (To Select in Next Screen)</h3>
 <table class="table table-condensed table-bordered">
 <tr>
 	<td>PAItem.ID</td>
 	<td>ParentID</td>
 	<td>level</td>
 	<td>display_rank</td>
 	<td>Hierarchy of this PAItem (TH/EN)</td>
	<td>Instruction / Requirements</td>
 </tr>
{% for item, pa in items.iteritems %}
<tr>
	<td>{{item.id}}</td>
	<td>{{item.parent_id}}</td>
	<td>{{item.level}}</td>
	<td>{{item.display_rank}}</td>
	<td>{{pa.hierarchy_summary}} <br>
		{{pa.hierarchy_summary_en}}
	</td>
 	<td></td>
</tr>
{% endfor %}
</table>

{% endblock %}